*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header{
    width: 100%;
}

main{
    width: 100%;
}
.bg-acqua{
    background-color: rgb(127, 255, 212);
}

.bg-click{
    background-color: rgb(0, 255, 255)
}

.contenitore-main{
    width: 1000px;
    height: 1000px;
}

.quadrato{
    width: 100px;
    height: 100px;
    border: solid 1px black;
}

.scompare{
    display: none;
}